.container{
    height: 22rem;
    /* height: 7rem; */
}

.child{
    width: 10rem;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.child img {
    position: absolute;    
    width: 100%;
    top:230px;
    opacity: 0;
}
.child img.current{
    transition: all .2s ease-in;;
    -webkit-transition: all .2s ease-in;;
    -moz-transition: all .2s ease-in;;
    -o-transition: all .2s ease-in;;
    opacity: 1;
    top:115px;   
}

.child img.previous{
    transition: all .2s ease-in;;
    -webkit-transition: all .2s ease-in;;
    -moz-transition: all .2s ease-in;;
    -o-transition: all .2s ease-in;;
    top:0;
    opacity: 0;
}

.child img.before-prev{
    opacity: 0;
    top:230px;
    transition: all .2s ease-in;;
    -webkit-transition: all .2s ease-in;;
    -moz-transition: all .2s ease-in;;
    -o-transition: all .2s ease-in;;

}

        
