.slot-machine{
    text-align: center;
}
.container{
    height: 15rem;
    position: relative;
}

.container.bonus-round::after{

    content: 'Bonus Round Activated...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 2rem 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
}

.message-container{
    height: 5rem;
    display: table;
    width: 100%;
}
.message{
    color: #f00;
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;
    text-shadow: 0 0 1px #000;
    display: table-cell;
    vertical-align: middle;
}

.message.show{
    opacity: 1;
    transition: opacity 0.25s ease-in;
}
.start-button{
    max-width: 5rem;
    width: 20%;
    margin-top: 2rem;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
}

.start-button:hover{
    opacity: 0.85;
    cursor: pointer;
}
.start-button:disabled{
    opacity: 0.5;
    cursor: default;
}
.start-button img{
    width:100%;
}

.child{
    max-width: 15rem;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.child img {
    position: absolute;    
    width: 100%;
    max-width: 15rem;
    top:-100%;
    opacity: 0;
    left:0;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

.child img.default-img{
    top: 50%;
    transform: translate(0,-50%);
    opacity: 1;
}

.child img.current{
    opacity: 1;
    top: 50%;
    transform: translate(0,-50%);
}

.child img.previous{
    top:100%;
    opacity: 0;
}

.child img.before-prev{    
    opacity: 0;
    top:-100%;
}

        
